html {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.section {
  background-image: url(../img/b11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

.intro,
.introNative {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.items {
  margin-bottom: 15px;
}
.items-box {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffffff;
}
.title {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.link {
  width: 100px;
  height: 30px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  text-align: center;
  padding-top: 4px;
}
.link:hover,
.link:focus {
  background: #ffffff;
  color: #000000;
}
.link-file {
  margin-bottom: 5px;
}
.link-page {
  margin-bottom: 5px;
}
.opus {
  margin-bottom: 7px;
  font-weight: 600;
}
.react {
  margin-bottom: 20px;
}

.foo {
  padding: 20px 0;
  background-color: rgb(48, 48, 48);
}
.links {
  width: 150px;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.linkedin {
  background-color: #0077b5;
}
.linkedin:hover {
  background-color: #ffffff;
  color: #0077b5;
  font-weight: 700;
  transition: all 400ms linear;
}
.mail {
  background-color: #c1392a;
}
.mail:hover {
  background-color: #ffffff;
  color: #c1392a;
  font-weight: 700;
  transition: all 400ms linear;
}
.whatsapp {
  background-color: #00e676;
}
.whatsapp:hover {
  background-color: #ffffff;
  color: #00e676;
  font-weight: 700;
  transition: all 400ms linear;
}
.telegram {
  background-color: #5682a3;
}
.telegram:hover {
  background-color: #ffffff;
  color: #5682a3;
  font-weight: 700;
  transition: all 400ms linear;
}

@media (max-width: 599px) {
  .main-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    margin: 0 auto;
  }
  .socBox {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  .social {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .links {
    margin-bottom: 5px;
  }
}

@media (min-width: 600px) and (max-width: 1279px) {
  .main-section {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  .items {
    margin-right: 8px;
  }
  .socBox {
    width: 90%;
    margin: 0 auto;
  }
  .social {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
  }
  .links {
    margin-right: 8px;
  }
}

@media (min-width: 1280px) and (max-width: 1920px) {
  .main-section {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  .items {
    margin-right: 8px;
  }
  .socBox {
    width: 90%;
    margin: 0 auto;
  }
  .social {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
